/* About.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.about-header__content h1 {
  font-size: 2em;
  margin: 0;
  color: #ff3c00b2; 
}

.about-header {
  background-color: bisque;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.about-header__content p {
  margin: 10px 0;
}

.about-nav__headings {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

.about-nav__headings:hover {
  text-decoration: underline;
}

.about-content {
  text-align: center;
  font-size: 1.2em;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 228, 196, 0.507);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
